@charset "UTF-8";

font-family： 'M PLUS Rounded 1c'、sans-serif;
  /* ページ全体の設定　*/
body {
    margin: 0;
    font-family: "メイリオ","Meiryo","M+ 1p",;
    font-weight:600;
}

/* 「コンテンツ」ブロック */
div {
  padding: 0px 0px;
  text-align: center;
  font-size: 5%;
}

/*　トップページ　*/
.hero {
  background-image: url(img/map_shitaji.png);
  background-size: cover;
  background-position: center;
  height: 2500px;
  color: #000000;
  padding: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 25px;
  text-align: center;
}

/* 白枠 */
article {
  background: rgba(255,255,255,0.7);
  padding: 26px;
  border-radius: 30px;
}

/* ====pc版===== */
@media (min-width: 600px) {}