@charset "UTF-8";

font-family： 'M PLUS Rounded 1c'、sans-serif;
  /* ページ全体の設定　*/



h1{
   font-size: 1.3em;
}

body {
    margin: 0;
    font-family: "メイリオ","Meiryo","M+ 1p",;
    font-weight:600;
}

/* 「コンテンツ」ブロック */
.container {
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-size: 1.6em;
  width: 500px;
}

ul {
  list-style: none;
}

.main {
  background-image: url(img/map_shitaji.png);
  background-size: cover;
  background-position: center;
  height: 3650px;
  color: #000000;
  padding: 0px 60px 0px 60px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  font-size: 28px;
  text-align: center;
}

ul{
  text-align: left;
}

/* 白枠 */
article {
  background: rgba(255,255,255,0.6);
  padding: 30px;
  border-radius: 45px;
}

/* ====pc版===== */
@media (min-width: 600px) {
  .container {
  padding: 0px 0px;
  text-align: center;
  font-size: 1.3em;
}
  
.main {
  background-image: url(img/map_shitaji.png);
  height: 3200px;
  padding: 20px;
  display: flex;
}
